body{
    background-color: white;
    text-align: center;
    justify-items: center;
    align-items: center;
    padding: 10px;
    border: none;
    margin: none;

}

form{
    text-align: center;
    justify-items: center;
    align-items: center;
    padding: 10px;
    border: none;
    margin: none;
}

table{
    text-align: center;
    justify-items: center;
    align-items: center;
    padding: 10px;
    background-color: rgb(26, 18, 71);
    margin-top: 12%;
    border-radius: 3px;

}

tr,td{
    background-color: grey;
    padding: none;
    
}

input{
    padding: 5px 7px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


#display{
    background-color: rgba(255, 255, 255, 0.753);
}

.operator{
    padding: 5px 7px;
}

.equalto{
    background-color: rgb(51, 148, 192);
}

#clear{
    padding: 5px 7px;
} 

